 body{
    display: block;
    direction: rtl !important;
width: 600px;
background-color: rgb(203, 215, 218);
margin: 0 auto;
}
*{
    display: block;
    direction: rtl !important;
    margin-bottom: 10px;
}